body {
    padding-top: 50px;
}
.navbar-inverse {padding: 10px;}
.navbar-brand img {width: 50px; height: auto; margin-top: -15px;}

.starter-template {
    padding: 40px 40px;
    border: 1px solid white;
    box-shadow: 0px 2px 10px 0px;
}

.page-header-extended {
    padding-bottom: 9px;
    margin: 40px 0 20px;
}

.modal-footer-extended {
    padding: 15px;
    text-align: right;
}

.required-field {
    color: red;
}

.page-title {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
}

.add-new-button {
    float: right;
    margin-bottom: 10px;
}

#member_search {
   width: 250px;
   height: 32px;
   border: 1px solid #ddd;
   border-radius: 5px;
   box-shadow: 0 0 3px #fff,
   0 10px 15px #ebebeb inset;
   font-size: 14px;
   padding-left: 10px
}


.info-table-header-block {
    margin-bottom: 20px;
}


#member_search .fa-search {
    position: absolute;
    top: 10px;
    left: 10px;
}

.tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}


.tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.tag:hover {
    background-color: #3c763d;
    color: white;
    text-decoration: none;
}

.tag:hover::after {
    border-left-color: #3c763d;
}

.center {
    text-align: center;
}

input[data-readonly] {
    pointer-events: none;
}


section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #007b5e !important;
    position: absolute;
    width: 100%;
    bottom: 0;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
